*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    width: 100%;
    position: relative;
    .top{
        width: 100%;
        background-color: #F5FBFF;
    }
    .contact{
        display: flex;
        width: 1200px;
        justify-content: space-between;
        margin: 0 auto;
        font-size: .8rem;
        opacity: .7;
        padding: 20px 0;
        .social{
            margin-left: 0px;
            & ul{
                display: flex;
                list-style: none;
                & li{
                    margin-right: 20px;
                    cursor: pointer;
                }
            }
        }
        .email{
            margin-right:0px;
            & ul{
                display: flex;
                list-style: none;
                & li{
                    margin-left: 50px;
                    word-spacing: 3px;
                    cursor: pointer;
                    font-size: .8rem;
                    & i{
                        color: #266ae1;
                        opacity: 1 !important;
                    }
                }
            }
        }
    }
}
.nav{
    top: 0;
    position: sticky;
    z-index: 1;
    width: 100%;
    height: 80px;
    background-color: #fff;
    justify-content: center;
    box-shadow: 6px 6px 10px #00000024;
    .content{
        display: flex;
        width: 1200px;
        margin: 0 auto;
        /* justify-content: center; */
        padding: 20px 0;
        .logo{
            display: block;
            justify-content: left;
            cursor: pointer;
        }
        .navigation{
            margin: auto;
            align-items: center;
            padding: 0;
            & ul{
                display: flex;
                list-style: none;
                & li{
                    margin: 0 10px;
                    cursor: pointer;
                }
            }
        }
        .apo{
            margin: auto;
            & input{
                height: 45px;
                width: 200px;
                font-size: 1rem;
                border: 1px solid #1087F5;
                border-radius: 6px;
                background-color: #1087F5;
                transition: all .3s;
                justify-content: right;
                margin-right:-100px ;
                cursor: pointer;
                color: white;
                &:hover{
                    background-color: #fff;
                    color: #1087F5;
                }
            }
        }
    }
}
.home{
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    background-color: #DDDEE2;
    align-items: center;
    background: url(./img/landscape\ home.webp) no-repeat;
    .content{
        width: 1200px;
        height: 100%;
        position: relative;
        display: flex;
        /* background-color: #1087F5; */
        align-items: center;
        .left{
            width: 100%;
            height: 100%;
            align-items: center;
            .text{
                margin: auto;
                width: 100%;
                height: 100%;
                align-items: center;
                margin: 15% 0;
                & h2{
                    font-size: 4.5rem;
                    font-weight: 900;
                }
                & h5{
                    font-size: 4.3rem;
                    margin: 13px 0;
                }
                & P{
                    opacity: .6;
                    width: 600px;
                    font-size: 1.2rem;
                }
                & input{
                    height: 50px;
                    width: 250px;
                    font-size: 1rem;
                    border: 1px solid #1087F5;
                    border-radius: 6px;
                    background-color: #1087F5;
                    transition: all .3s;
                    justify-content: right;
                    margin: 20px 0;
                    cursor: pointer;
                    color: white;
                    &:hover{
                        background-color: #fff;
                        color: #1087F5;
                    }
                }
            }
        }
    }
}
.second{
    position: relative;
    margin-top: -20px;
    width: 100%;
    height: 330px;
    background-color: #4b9de9;
    .container{
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        .item{
            color: #ffffff;
            width: 400px;
            & img{
                height: 90px;
                padding-top:25px ;
                margin: 10px 0;
            }
            & i{
                font-size: 3rem;
                color: #fff;
                padding-top:30px ;
                margin: 20px 0;
            }
            & h1{
                margin-bottom: 13px;
                font-size: 1.7rem;
            }
            & p{
                line-height: 25px;
            }
            & input{
                margin: 20px 0;
                width: 170px;
                border: 1px solid #fff;
                background: transparent;
                color: #fff;
                border-radius: 5px;
                height: 40px;
                font-size: 1.1rem;
                transition: all .3s;
                &:hover{
                    background-color: #fff;
                    color: #1087F5;
                }
            }
            &:nth-child(2){
                background-color: #3895ec;
                padding: 0 20px;
            }
            &:nth-child(3){
                padding: 0 20px;
            }
        }
    }
}
.third{
    position: relative;
    width: 100%;
    height: fit-content;
    margin: 100px 0;
    .content{
        position: relative;
        width: 1200px;
        margin: auto;
        height: 100%;
        display: flex;
        .image{
            position: relative;
            width: 50%;
            height: fit-content;
            align-items: center;
            margin: auto;
            & img{
                height: 350px;
                position: absolute;
                &:first-child{
                    margin-top: -225px;
                    margin-left: -25px;
                }
                &:last-child{
                    margin-top: -130px;
                    margin-left: 150px;
                }
            }
        }
        .text-side{
            width: 100%;
            height: fit-content;
            padding-left: 200px;
            & h4{
                font-size: 1.3rem;
                padding: 25px 0;
                opacity: .6;
            }
            & h1{
                font-weight: normal;
                font-size: 3rem;
                padding-bottom: 15px;
            }
            &  p{
                font-size: 1.1rem;
                opacity: .6;
                padding-bottom: 15px;
            }
            & ul{
                list-style: odd;
                margin-left: 20px;
                line-height: 40px;
                padding-bottom: 20px;
                opacity: .8;
                font-size: 1.2rem;
            }
            & input{
                height: 45px;
                width: 150px;
                font-size: 1rem;
                border: 1px solid #1087F5;
                border-radius: 6px;
                background-color: #fff ;
                transition: all .3s;
                justify-content: right;
                margin: 20px 0;
                cursor: pointer;
                &:hover{
                    background-color: #1087F5;
                    color: #fff;
                }
            }
        }
    }
}

.fourth{
    position: relative;
    width: 100%;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 100px;
    background-color: #F5FBFF;
    .container{
        width: 80%;
        height: fit-content;
        margin: 0 auto;
        justify-content: center;
        .text-top{
            text-align: center;
            width: 400px;
            margin: 90px auto;
            & h1{
                font-size: 3rem;
                margin: 30px 0;
            }
            & p{
                opacity: .6;
                line-height: 2rem;
            }
        }
        .items{
            width: 100%;
            height: fit-content;
            display: flex;
            flex-wrap: wrap ;
            justify-content: center;
            .item{
                position: relative;
                margin-right: 25px;
                margin-bottom: 25px;
                width: 362px;
                height: 400px;
                background-color: #fff;
                box-shadow: 5px 5px 12px #0000001c;
                .img{
                    overflow: hidden;
                    width: 100%;
                    height: 240px;
                    background-color: #1087F5;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    & img{
                        transition: all .3s;
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }
                & h2,p,a{
                    margin: 20px;
                }
                & p{
                    opacity: .6;
                }
                & a{
                    text-decoration: none;
                    color: #1087F5;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.section-five{
    position: relative;
    width: 100%;
    height: 70vh;
    background: url(./img/internal-problem.webp) no-repeat;
    background-size: cover;
    .container{
        opacity: 1;
        display: flex;
        width: 1200px;
        height: 100%;
        margin:  auto;
        align-items: center;
        & button {
            border: 1px solid #ffffff56;
            height: 60px;
            width: 70px;
            background: transparent;
            color: #ffffff62;
            justify-content: space-between;
            padding: 11px;
            font-size: 1.5rem;            
            border-radius: 3px;
            transition: all .3s;
            &:hover{
                background-color: #0382f8fb;
                opacity: 1;
                color: #fff;
            }
        }
        .item-text{
            width: 1100px;
            text-align: center;
            padding: 0 100px;
            font-size: 1.5rem;
            line-height: 2.5rem;
            color: #000000;
            & h1{
                font-size: 5rem;
                font-family: 'Times New Roman', Times, serif;
            }
            & p{
                text-shadow: 20px 20px 30px #000 ;
            }
        }
    }
}

.section-six{
    position: relative;
    width: 100%;
    height: 15vh;
    background-color:#F5FBFF ;
    & ul{
        position: relative;
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        list-style: none;
        display: flex;
        & li{
            height: 15vh;
            width: 400px;
            font-size: 1.3rem;
            text-align: center;
            align-items: center;
            padding: 40px;
            transition: all .3s;
            &:hover{
                background-color: #fff;
            }
        }
    }
}
.section-seven{
    position: relative;
    width: 100%;
    height: 65vh;
    .container{
        width: 1200px;
        height: 100%;
        display: flex;
        margin: auto;
        align-items: center;
        .text{
            width: 50%;
            margin-top: -70px;
            & i{
                font-size: 50px;
                padding: 15px 0;
            }
            & h2{
                padding: 20px 0;
            }
            & p{
                opacity: .6;
                line-height: 1.7rem;
                padding-bottom: 40px;
                font-size: 1rem;
            }
        }
    }
    & hr{
        width: 1200px;
        margin: -10px auto;
        opacity: .3;
    }
}

.section-eight{
    width: 100%;
    height: 100vh;
    position: relative;
    .container{
        position: relative;
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        .top{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top:120px ;
            margin-bottom: 50px;
            font-size: 1.6rem;
            & i{
                border: 1px solid #0000003a;
                height: 50px;
                width: 50px;
                padding: 13px 17px;
                margin: 0 20px;
                font-size: 1.4rem;
                cursor: pointer;
                border-radius: 3px;
                transition: .3s;
                &:hover{
                    background-color: #1087F5;
                    color: #fff;

                }
            }
        }
        .items{
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            justify-content: center;
            .item{
                margin-right: 25px;
                margin-bottom: 25px;
                height: fit-content;
                border-radius: 5px ;
                text-align: center;
                background-color: #F5FBFF;
                overflow: hidden;
                transition: all .5s;
                & img{
                    transition: all .3s;
                }
                &:hover{
                    background-color: #2a8feeb0;
                    transition: all .3s;
                    & img{
                        transform: scale(1.05);
                    }
                }
                &:last-child{
                    margin-right: 0px;
                }
                & h2{
                    margin: 12px 0;
                    font-weight: normal;
                }
                & P{
                    padding-bottom: 20px;
                }
            }
        }
    }
}

.section-nine{
    width: 100%;
    height: 40vh;
    position: relative;
    display: flex;
    .left{
        height: 100%;
        width: 50%;
        background: url(./img/girls-left.webp) no-repeat;
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        &:last-child{
            background: url(./img/girls-right.webp) no-repeat;
        }
        .text{
            margin-right: 35px;
            line-height: 40px;
            letter-spacing: 3px;
            text-shadow: 5px 5px 10px #00000088;
        }
        & button{
            padding: 10px 45px;
            border-radius: 30px;
            border: 1px solid ;
            transition: all .5s;
            font-size: 1rem;
            &:hover{
                background-color: #1087F5;
                color: #fff;
            }
        }
    }
}